flows.json
[{"id":"ed3910a.a61c9f","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"ee4219c4.5abe88","type":"ibmiot in","z":"ed3910a.a61c9f","authentication":"apiKey","apiKey":"d1fa336b.a5872","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":260,"wires":[["15954314.4a99ad","81ca9570.d4e718","281da7dc.1017f8","3528a486.eb3d9c","172b1c61.bdc264","a8284917.b75af8","e046c4e.4efc8b8"]]},{"id":"15954314.4a99ad","type":"function","z":"ed3910a.a61c9f","name":"Leakage","func":"global.set('leak',msg.payload.leak)\nmsg.payload=msg.payload.leak\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":40,"wires":[["f2b12959.644e4","e046c4e.4efc8b8"]]},{"id":"81ca9570.d4e718","type":"function","z":"ed3910a.a61c9f","name":"Cylibder_status","func":"global.set('cylinder_status',msg.payload.cylinder_status)\nmsg.payload=msg.payload.cylinder_status\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":120,"wires":[["b7f6c09f.15a8","e046c4e.4efc8b8"]]},{"id":"281da7dc.1017f8","type":"function","z":"ed3910a.a61c9f","name":"Cylinder_weight","func":"global.set('cylinder_weight',msg.payload.cylinder_weight)\nmsg.payload=msg.payload.cylinder_weight\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":200,"wires":[["c940534d.0bb0f","e046c4e.4efc8b8"]]},{"id":"3528a486.eb3d9c","type":"function","z":"ed3910a.a61c9f","name":"Jar_weight","func":"global.set('jar_weight',msg.payload.jar_weight)\nmsg.payload=msg.payload.jar_weight\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":320,"wires":[["e046c4e.4efc8b8","d7f35718.0d4ff"]]},{"id":"172b1c61.bdc264","type":"function","z":"ed3910a.a61c9f","name":"Jar_status","func":"global.set('jar_status',msg.payload.jar_status)\nmsg.payload=msg.payload.jar_status\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":400,"wires":[["e046c4e.4efc8b8","71ec1b89.19f994"]]},{"id":"a8284917.b75af8","type":"function","z":"ed3910a.a61c9f","name":"Fan","func":"global.set('fan',msg.payload.fan)\nmsg.payload=msg.payload.fan\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":500,"wires":[["e046c4e.4efc8b8","d08863e8.7e3ff"]]},{"id":"e046c4e.4efc8b8","type":"debug","z":"ed3910a.a61c9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":260,"wires":[]},{"id":"f2b12959.644e4","type":"ui_text","z":"ed3910a.a61c9f","group":"f46c1182.b2bb18","order":6,"width":"6","height":"7","name":"","label":"Gas Leakage","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":40,"wires":[]},{"id":"b7f6c09f.15a8","type":"ui_text","z":"ed3910a.a61c9f","group":"f46c1182.b2bb18","order":7,"width":"6","height":"7","name":"","label":"Cylinder_status","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":80,"wires":[]},{"id":"c940534d.0bb0f","type":"ui_gauge","z":"ed3910a.a61c9f","name":"Cylinder_weight","group":"f46c1182.b2bb18","order":9,"width":0,"height":0,"gtype":"gage","title":"cylinder_weight","label":"units","format":"{{value}}","min":0,"max":"15","colors":["#ff0000","#e6e600","#0000a0"],"seg1":"","seg2":"","x":640,"y":140,"wires":[]},{"id":"d7f35718.0d4ff","type":"ui_gauge","z":"ed3910a.a61c9f","name":"Jar_Weight","group":"f46c1182.b2bb18","order":11,"width":0,"height":0,"gtype":"gage","title":"jar_weight","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#ff0000","#e6e600","#0000a0"],"seg1":"","seg2":"","x":630,"y":380,"wires":[]},{"id":"71ec1b89.19f994","type":"ui_text","z":"ed3910a.a61c9f","group":"f46c1182.b2bb18","order":12,"width":0,"height":0,"name":"Jar_status","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":440,"wires":[]},{"id":"d08863e8.7e3ff","type":"ui_text","z":"ed3910a.a61c9f","group":"f46c1182.b2bb18","order":13,"width":0,"height":0,"name":"Fan_status","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":500,"wires":[]},{"id":"40b1fe5a.0be968","type":"http in","z":"ed3910a.a61c9f","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":170,"y":600,"wires":[["39d7a044.2685f8"]]},{"id":"1fa48c2.b29cf74","type":"http response","z":"ed3910a.a61c9f","name":"","statusCode":"","headers":{},"x":740,"y":600,"wires":[]},{"id":"39d7a044.2685f8","type":"function","z":"ed3910a.a61c9f","name":"data","func":"msg.payload={'Jar_status':global.get(\"jar_status\"),'Cylinder_status':global.get(\"cylinder_status\"),'Leakage':global.get(\"leak\"),'Cylinder_weight':global.get(\"cylinder_weight\"),'Jar_weight':global.get(\"jar_weight\"),'fan':global.get(\"fan\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":600,"wires":[["1fa48c2.b29cf74"]]},{"id":"d1fa336b.a5872","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"f46c1182.b2bb18","type":"ui_group","z":"","name":"smart kitchen","tab":"777f3e0.068b844","order":1,"disp":true,"width":"6","collapse":false},{"id":"777f3e0.068b844","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]